body {
    overflow-y: hidden;
    overflow-x: hidden; 
}

.tabs{
    margin-top: 45%;
    list-style-type : none;
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

.tab, .active_tab{
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    margin: 1%;
    padding: 10px;
    color: #4b0190;
    transition: 0.5s;
}

.tab:hover , .active_tab:hover{
    background: black;
    transition-delay: 0.2s;
    animation: animate 0.2s steps(8) forwards;
}
.burger{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.burger div{
    width: 20px;
    height: 3px;
    background-color: #4b0190;
    margin: 5px;
}
.ouranos{
    display: flex;
}
.logo{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px; 
    margin-top: 10px;
    color: #4b0190;
}

.tabs-active{
    transform: translateX(5%);
}

